# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
.venv_*/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.iml

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db